// ici le sass




.browse
  border-style: solid
  border-width: 3px 20% 3px 3px
  background-color: yellow
  border-color: yellow
  color: black

#title
  font-size: 15px

.argent
  font-size: 8px

button, .browse
  &:hover
  cursor: pointer

.souligner
  text-decoration: underline

.top
  margin-top: 20px

.blanc
  color: #FFFFFF

body
  background: url("../images/degra.jpg")
  background-repeat: no-repeat
  background-size: cover
  min-height: 100vh

.nom
  font-size: 100px
  font-family: URW Chancery L, cursive

.bleu
  color: blue

.marg1
  margin-top: 20px
.bold
  font-weight: bold
